<template>
  <div v-if="editor">
    <div class="flex action-buttons">
      <button class="save" @click="save">Save Draft!</button>
      <button class="publish" @click="publish">Publish (Cannot be edited once published!)</button>
      <button class="delete" @click="deleteMessage">Delete</button>
    </div>
    <br>
    <div class="flex">
      <button
        @click="editor.chain().focus().undo().run()"
        :disabled="!editor.can().undo()"
      >
        undo
      </button>
      <button
        @click="editor.chain().focus().redo().run()"
        :disabled="!editor.can().redo()"
      >
        redo
      </button>
    </div>
    <br>
    <div class="flex">
      <button @click="showEmojiPicker" id="emoji-trigger">Add some EMOJIS 💖 !!</button>
      <div class="button-wrapper">
        <label for="color">Add some color ! ></label>
        <input
          id="color"
          type="color"
          @input="editor.chain().focus().setColor($event.target.value).run()"
          :value="editor.getAttributes('textStyle').color"
        >
      </div>
      <button @click="openImageModal">
        Insert a pic!
      </button>
    </div>
    <br>
    <div class="flex">
      <button @click="editor.chain().focus().toggleHeading({ level: 5 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 5 }) }">
        Normal Font Size
      </button>
      <button @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }">
        h1
      </button>
      <button @click="editor.chain().focus().toggleHeading({ level: 2 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }">
        h2
      </button>
      <button @click="editor.chain().focus().toggleHeading({ level: 3 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }">
        h3
      </button>
      <button class="h4-button" @click="editor.chain().focus().toggleHeading({ level: 4 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 4 }) }">
        h4
      </button>

      <button class="bold-button" @click="editor.chain().focus().setFontFamily('latobold').run()" :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'latobold' }) }">
        bold
      </button>
      <button class="regular-button" @click="editor.chain().focus().setFontFamily('latoregular').run()" :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'latoregular' }) }">
        regular
      </button>
      <button class="light-button" @click="editor.chain().focus().setFontFamily('latolight').run()" :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'latolight' }) }">
        light
      </button>

      <button class="italic-button" @click="editor.chain().focus().toggleItalic().run()" :class="{ 'is-active': editor.isActive('italic') }">
        <em>italic</em>
      </button>
      <button class="strike-button" @click="editor.chain().focus().toggleStrike().run()" :class="{ 'is-active': editor.isActive('strike') }">
        <s>strike</s>
      </button>
    </div>
    <br>
    <div class="flex">
      <button @click="editor.chain().focus().toggleHighlight().run()" :class="{ 'is-active': editor.isActive('highlight') }">
        highlight
      </button>
      <button @click="editor.chain().focus().setTextAlign('left').run()" :class="{ 'is-active': editor.isActive({ textAlign: 'left' }) }">
        left
      </button>
      <button @click="editor.chain().focus().setTextAlign('center').run()" :class="{ 'is-active': editor.isActive({ textAlign: 'center' }) }">
        center
      </button>
      <button @click="editor.chain().focus().setTextAlign('right').run()" :class="{ 'is-active': editor.isActive({ textAlign: 'right' }) }">
        right
      </button>
      <button @click="editor.chain().focus().setTextAlign('justify').run()" :class="{ 'is-active': editor.isActive({ textAlign: 'justify' }) }">
        justify
      </button>
      <button @click="editor.chain().focus().unsetTextAlign().run()">
        Unset text alignment
      </button>
    </div>
    <br>
  </div>

  <div style="text-align: center;">
    <span>Start typing your message in the block below !</span>
  </div>

  <editor-content :editor="editor" />

  <vue-final-modal 
    v-model="showImageModal" 
    classes="flex justify-center items-center"
    content-class="relative flex flex-col max-h-full mx-4 p-8 border dark:border-gray-800 rounded bg-white dark:bg-gray-900"
  >
    <span class="mr-8 text-2xl font-bold">
      Choose an image and then give it time to upload. This window will close automatically when it is done. 
    </span>
    <div class="flex-grow overflow-y-auto">
      Content
      <input type="file" accept="image/*" @change="uploadImage($event)" id="file-input">
    </div>
  </vue-final-modal>
</template>

<script>
import { $vfm, VueFinalModal, ModalsContainer } from 'vue-final-modal'

import { EmojiButton } from '@joeattardi/emoji-button';

import { Editor, EditorContent } from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import TextAlign from '@tiptap/extension-text-align'
import Highlight from '@tiptap/extension-highlight'
import Text from '@tiptap/extension-text'
import TextStyle from '@tiptap/extension-text-style'
import { Color } from '@tiptap/extension-color'
import FontFamily from '@tiptap/extension-font-family'
import Image from '@tiptap/extension-image'
import Dropcursor from '@tiptap/extension-dropcursor'
import Axios from 'axios'
import Heading from '@tiptap/extension-heading'

export default {
  components: {
    EditorContent,
    VueFinalModal,
    ModalsContainer
  },

  props:['content'],

  data() {
    return {
      editor: null,
      emoji: null,
      picker: null,
      pickerTrigger: null,
      showImageModal: false
    }
  },

  mounted() {
    Axios.defaults.headers.common = {
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRF-TOKEN' : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    };
    this.picker = new EmojiButton({
      autoHide: false,
      autoFocusSearch: true
    });
    this.picker.on('emoji', selection => {
        this.editor.chain().focus().insertContent(selection.emoji).run();
    });

    this.pickerTrigger = document.querySelector('#emoji-trigger');

    this.editor = new Editor({
      extensions: [
        StarterKit,
        TextAlign.configure({
          types: ['heading', 'paragraph'],
        }),
        Heading,
        Highlight,
        History,
        Text,
        TextStyle,
        Color,
        FontFamily.configure({
            types: ['textStyle'],
        }),
        Image,
        Dropcursor,
      ],
      content: JSON.parse(this.content),
    })
  },

  methods: {
    openImageModal() {
      this.showImageModal = true;
    },
    uploadImage(event) {
      const URL = '/ajax/upload'; 
      let data = new FormData();
      data.append('image', event.target.files[0]); 

      let config = {
        header : {
          'Content-Type' : 'image/png'
        }
      }
      Axios.post(URL, data, config)
      .then((response) => {
          if (response.data.url) {
            this.editor.chain().focus().setImage({
              src: response.data.url
            }).run()
          }
          this.showImageModal = false;
      });
    },
    save() {
      const URL = '/ajax/save'; 

      let data = {
        'message_id': window.location.pathname.split("/").pop(),
        'content_json': this.editor.getJSON(),
        'content_html': this.editor.getHTML()
      };
      Axios.post(URL, data)
      .then((response) => {
          window.alert('SAVED!👍');
      }, (error) => {
        window.alert('ERROR SAVING :( Please try again.');
      });
    },
    publish() {
      let publish = window.confirm('Are you sure you want to publish this message ?');
      if (!publish) {
        return;
      }
      const URL = '/ajax/publish'; 
      let data = {
        'message_id': window.location.pathname.split("/").pop(),
        'content_json': this.editor.getJSON(),
        'content_html': this.editor.getHTML()
      };
      Axios.post(URL, data)
      .then((response) => {
          window.alert('PUBLISHED!!👍');
          window.location.href = '/messages';
      }, (error) => {
        window.alert('ERROR PUBLISHING :( Please try again.');
      });
    },
    deleteMessage() {
      let deleteThis = window.confirm('Are you sure you want to delete this message ? (Cant be undone)');
      if (!deleteThis) {
        return;
      }
      const URL = '/ajax/delete'; 
      let data = {
        'message_id': window.location.pathname.split("/").pop()
      };
      Axios.post(URL, data)
      .then((response) => {
          window.alert('DELETED!');
          window.location.href = '/messages';
      }, (error) => {
        window.alert('ERROR Deleting.');
      });
    },
    showEmojiPicker() {
      this.picker.togglePicker(this.trigger);
    },
  },

  beforeUnmount() {
    this.editor.destroy()
  },
}
</script>
