#app {
  .ProseMirror[contenteditable="true"] {
    max-width: 30rem;
    margin: auto;
  }

  .ProseMirror {
    padding: 20px;
    border: 2px solid pink !important;
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.4;

    > * + * {
      margin-top: 0.75em;
    }

    ul, ol {
      padding: 0 1rem;
    }

    h1, h2, h3, h4 {
      line-height: 1.1;
    }

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    mark {
      background-color: #fcbeff;
    }

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      margin: auto;

      &.ProseMirror-selectednode {
        outline: 3px solid #68CEF8;
      }
    }
  }

  button {
    padding: 4px;
    border: 2px solid black;

    &.is-active {
      background-color: black;
      color: white;
    }

    &.save {
      margin-left: auto;
      background-color: cyan;
      color: rgb(20, 20, 20);
      padding: 0px 20px;
    }

    &.h4-button {
      margin-right: 16px;
    }

    &.bold-button {
      font-family: 'lato-bold';
    }

    &.regular-button {
      font-family: 'latoregular';
    }

    &.light-button {
      font-family: 'lato-light';
      margin-right: 16px;
    }
  }

  .button-wrapper {
    padding: 4px;
    border: 2px solid black;
    display: inline-block;
  }

  .action-buttons {
    justify-content: right;

    .save {
      margin: 0 20px 0 0;
    }

    .publish {
      background-color: rgb(67, 253, 67);
      margin: 0 20px 0 0;
    }

    .delete {
      background-color: red;
      color: white;
    }
  }

  #color {
    cursor: pointer;
  }
}
.emoji-picker__wrapper {
  position: absolute;
  bottom: 30px;
  left: 77px;
}

.style-container {
  font-size: 16px;
  line-height: 1.4;

  > * + * {
    margin-top: 0.75em;
  }

  ul, ol {
    padding: 0 1rem;
  }

  h1, h2, h3, h4 {
    line-height: 1.1;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  mark {
    background-color: #fcbeff;
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: auto;
  }
}